*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}/*box 2*/
.add-fis{
    color: #ccc;
     font-size: 0.85rem;
     margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;

    align-items: center;
}/*box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(213, 64, 9);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background: color #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px ;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width:100%;
    font-size: large;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(182, 182, 6);
    border-top-right-radius: 4px ;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid rgb(216, 126, 9);
}
/*box4*/
span{
    font-size: o.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/*box4*/
.nav-cart i{
    font-size:30px ;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}/*panal*/
.panal{
    height: 40px;
    background-color: #222f3d; 
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panal-ops p{
    display: inline;
    margin-left:10px ;
}
.panal-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panal-details{
    font-size: 0.9rem;
    font-weight:700 ;
}
/*hero-section*/
.hero-section{
    background-image: url(hero_image.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end ;
}
.hero-msg{
    background-color: white;
    color: #0f1111;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom:25px ;
}
.hero-msg a{
    color: rgb(75, 120, 8);
}/*shop section*/
.shop-section{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    background-color: rgba(70, 230, 177, 0.86);
}
.box{
    
    height: 400px;
    width: 23%;
    background-color: white ;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.box-img{
    height: 300px;
   background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1remx;
}
.box-content p{
    color: rgb(38, 182, 38);
}
footer{
    margin-top: 15px;
}
.foot-panal{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem ;
}
.foot-panal2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panal3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panal4{
    background-color:  #0f1111; 
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /*
    display: flex;
   
    justify-content: center;
    align-items: center;*/
}
.pages{
    padding-top: 25px;

}
.copy-right{
    padding-top: 5px;
  
}
